<h3>Listado de Heroés</h3>
<!--ngIf <- if condional y si tiene un else este apunta a alguna referencia-->
<div *ngIf="deletedHeroe; else nothingWasDeleted">
  <h3>
    Héroe borrado <small class="text-danger"> {{deletedHeroe}} </small>
  </h3>
</div>
<!-- el "#" significa un nombre de referencia -->
<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada.</h3>
</ng-template>

<button
  type="button"
  class="btn btn-outline-danger"
  (click)="removeLastHeroe()"
  *ngIf="heroNames.length > 0"
>
  Borrar último héroe
</button>

<ul class="mt-2 list-group">
  <li
    *ngFor="let name of heroNames"
    class="list-group-item"
  >
    {{ name }}
  </li>
</ul>
